@import url(http://fonts.googleapis.com/css?family=Antic+Slab);
@import url(http://fonts.googleapis.com/css?family=Damion);
@base: url(../images/picnic-bg.jpg);
@mainFont: 'Antic Slab', serif;
@postcardFont: 'Damion', cursive;

body{
  background: @base;
}



#container {
  margin: 0 auto;
  margin-top: 100px;
  background: #fff;
  width: 900px;
  -moz-box-shadow: 0px 5px 5px #333;
  -webkit-box-shadow: 0px 5px 5px #333;
  box-shadow: 0px 5px 20px #333;
}

h1{
  font-family: @mainFont;
  color: #381516;
  padding-left: 10px;
  margin-bottom: 0px;
}

h2 {
  font-family: @mainFont;
  text-align: center;
}

p {
  display: block;
  margin-bottom: 10px;
  margin-left: 100px;
  font-family: @mainFont;
  font-size: 20px;
}

ol {
  display: block;
  text-align: left;
  margin: 2px;
  margin-left: 135px;
  margin-bottom: 20px;
  font-family: @mainFont;
  color: #000;
}

select {
  padding: 6px;
  background: #ccc;
  height: 32px;
  font-size: 14px;
  color: #555;
  border: 1px solid #ccc;
}

.border-top {
  background: url(/images/frame-top.png) no-repeat;
  background-size: 100%;
  width: 800px;
  height: 145px;
  margin: 0 auto;
  position: relative;
  top: 50px;
}

.border-bottom {
  background: url(/images/frame-bottom.png) no-repeat;
  background-size: 100%;
  width: 800px;
  height: 145px;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
}

h4.slogan {
  font-family: @postcardFont;
  padding-left: 15px;
  position: relative;
  top: -15px;
  letter-spacing: 1px;
  color: #0A5FB3;
  font-size: 25px;
}

.hidden {
  display: none;
}

.bottom {
  height: 100px;
}

.clear {
  clear: both;
}

// -------------------------------------------------------------- //
// -------------------------------------------------------------- //
// -------------------------HOME PAGE---------------------------- //

#authentication {
  background: rgba(0, 0, 0, 0.7);
  margin-top: 50px;
  padding: 20px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  label {
    color: #fff;
  }
  legend {
    color: #fff;
  }
}

#home-header {
  width: 1000px;
  height: 149px;
  margin-top: 50px;
  font-family: @mainFont;
  text-align: center;
  color: #fff;
  padding-top: 40px;
  font-size: 35px;
  background: url(/images/header.png) no-repeat;
  background-size: 100%;
}

#register {
  background-color: #CF453E;
  border: 1px solid #A73B2A;
  font-family: @postcardFont;
  font-size: 16px;
}

#login {
  font-family: @postcardFont;
  font-size: 16px;
}

#login, #create {
  background-color: #0A5FB3;
  border: 1px solid #01318B;
}

#create {
  font-family: @mainFont;
}

#message {
  color: #fff;
  text-align: center;
}

#instructions {
  background: #fff;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  h4 {
    padding-top: 10px;
    font-family: @mainFont;
  }
}

#border {
  border: 1px solid #CF453E;
}

#left {
  float: left;
}

#right {
  float: right;
  margin-right: 100px;
}

// -------------------------------------------------------------- //
// -------------------------------------------------------------- //
// ----------------------STEP 1 STYLING-------------------------- //

#preview-front {
  font-family: @mainFont;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  background-color: #CF453E;
  border: 1px solid #B53C36;
}

#front-card {
  width: 700px;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 1px solid #381516;
  h2 {
    display: block;
    font-family: @postcardFont;
    font-size: 80px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
  }
}

#backgrounds-container {
  margin: 0 auto;
  width: 750px;
  margin-bottom: 20px;
}

#step1, #step2 {
  margin-top: 10px;
  margin-left: 100px;
  h3 {
    font-family: @mainFont;
    font-size: 40px;
    color: #0A5FB3;
    float: left;
    padding-right: 8px;
    margin-bottom: 0px;
  }
}

#step-no-1 {
  background: url(/images/step-1.png) no-repeat;
  background-size: 100%;
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 8px;
}

#submit-front {
  font-family: @mainFont;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  background-color: #0A5FB3;
  border: 1px solid #095199;
}

#choose-flag {
  background: #eee;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
  h3 {
    display: block;
    font-family: @mainFont;
    text-align: center;
  }
}

.draggie {
  width: 40px;
  height: 40px;
}

.final-flag {
  position: relative;
  width: 40px;
  height: 40px;
}

.small-container {
  margin: 0 auto;
  height: 60px;
  width: 32%;
}

#flag1 {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-bottom: 10px;
  float: left;
  background: url(/images/flags/flag1.png) no-repeat;
  background-size: 100%;
}

#flag2 {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-bottom: 10px;
  float: left;
  background: url(/images/flags/flag2.png) no-repeat;
  background-size: 100%;
}

#flag3 {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-bottom: 10px;
  float: left;
  background: url(/images/flags/flag3.png) no-repeat;
  background-size: 100%;
}

.selected {
  border: 3px solid #30B5ED;
}

// --------------------------------------------------------------- //
// --------------------------------------------------------------- //
// -----------------------STEP 2 STYLING-------------------------- //

#step-no-2 {
  background: url(/images/step-2.png) no-repeat;
  background-size: 100%;
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 8px;
}

#back-card {
  width: 700px;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
  border: 1px solid #381516;
  background: url(/images/postcard-back.png) no-repeat;
  background-size: 100%;
  background-color: #fff;
}

#preview-back {

  font-family: @mainFont;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  background-color: #22993B;
  border: 1px solid #1C7F31;
}

#back-img-container {
  position: absolute;
  border: 1px solid #464646;
  margin-top: 20px;
  margin-left: 50px;
  width: 250px;
  height: 179px;
  img {
    width: 250px;
    height: 179px;
  }
}

#back-img-message {
  position: absolute;
  margin-top: 205px;
  margin-left: 50px;
  width: 250px;
  h4 {
    font-family: @postcardFont;
    font-size: 20px;
    text-align: center;
  }
}

#submit-back {
  font-family: @mainFont;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  background-color: #0A5FB3;
  border: 1px solid #095199;
}

#list img{
  width: 75px;
}

// --------------------------------------------------------------- //
// --------------------------------------------------------------- //
// --------------------BACKGROUND PATTERNS------------------------ //

.border {
  border: 3px solid #ccc;
  &:hover {
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    border: 3px solid #30B5ED;
  }
}

#pattern1 {
  background: url(/images/backgrounds/pattern1.jpg);
  background-size: 100%;
  width: 75px;
  height: 75px;
  margin-left: 15px;
  float: left;
}

#pattern2 {
  background: url(/images/backgrounds/pattern2.jpg);
  background-size: 100%;
  width: 75px;
  height: 75px;
  margin-left: 15px;
  float: left;
}

#pattern3 {
  background: url(/images/backgrounds/pattern3.jpg);
  background-size: 100%;
  width: 75px;
  height: 75px;
  margin-left: 15px;
  float: left;
}

.thumb {
  width: 100px;
}

// --------------------------------------------------------------- //
// --------------------------------------------------------------- //
// -------------------------STATE IMAGE--------------------------- //

#pc-state {
  margin: 0 auto;
  display: block;
  margin: 25px;
}


#view-cards {
  width: 500px;
  margin: 0 auto;
}

.card {
  height: 175px;
  width: 175px;
  margin: 10px 35px;
  float: left;

  div{
    margin-top: 20px;
    margin-left: 10px;
  }
  p {
    text-align: center;
    margin: 0px;
    padding-top: 5px;
  }
}