extends ../template/layout

block content
  .row
    .small-12.columns
      #container
        h1 Southern Greetings
        .row
          .small-6.columns
            h4.slogan Seasons Greetings Southern Style
          .small-6.columns
        .row
          .small-12.columns
            #front-card