<html>
head
  title= title
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width")
  link(rel="stylesheet", href="/stylesheets/normalize.css")
  link(rel="stylesheet", href="/stylesheets/foundation.css")
  link(rel="stylesheet", href="/less/app.css")
  script(src="/javascripts/vendor/custom.modernizr.js")
  body(style='background: #fff;')
    .row
      .small-12.columns
  script(src="/javascripts/vendor/jquery-1.10.2.js")
  script(src="/javascripts/vendor/foundation.min.js")
  script(src="/javascripts/vendor/lodash.js")
  script(src="/javascripts/vendor/moment-with-langs.js")
  script(src="/javascripts/vendor/draggabilly.pkgd.min.js")
  script(src="/javascripts/vendor/jscolor.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/vendor/html2canvas.js")
  script(src="/javascripts/app/utilities.js")
  script(src="/javascripts/app/app.js")
</html>